@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
  font-family: "DroidKufi-Regular";
  src: url("../font/DroidKufi-Regular.eot"); /* IE9 Compat Modes */
  src: url("../font/DroidKufi-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../font/DroidKufi-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../font/DroidKufi-Regular.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  }
  a{
    text-decoration: none !important;
    cursor: pointer !important;
  }
  :root {
    --primary-color: #007bff!important;
    --success-color: #28a745!important;
    --warning-color: #ffc107!important;
    --danger-color: #dc3545!important;
    --secondary-color: #6c757d!important;
    --info-color: #17a2b8!important;
  
    --light-color: #0984e3;
    --light-second-color: #74b9ff;
    --light-background: #FBFCFC;
    --light-second-background: #ECF0F1;
  
    --dark-color: #0984e3;
    --dark-second-color: #74b9ff;
    --dark-background: #212121;
    --dark-second-background: #333333;
  
    --light-theard-color: #ddd;
    --light-theard-background: #ddd;
    --dark-theard-color: #444444;
    --dark-theard-background: #444444;


    --deep-white:#a09999;
    --font-en: "DroidKufi-Regular",'Roboto', sans-serif;
  
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
  --main-bg-color: var(--light-background);
  --second-bg-color: var(--light-second-background);

  --theard-bg-color: var(--light-theard-background);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color);

  --theard-color: var(--light-theard-color);

  --deep-white:var(--deep-white);
}

.dark {
  --main-bg-color: var(--dark-background);
  --second-bg-color: var(--dark-second-background);
  --theard-bg-color: var(--dark-theard-background);
  --main-color: var(--dark-color);
  --second-color: var(--dark-second-color);
  --theard-color: var(--dark-theard-color);
  --deep-white-color:var(--deep-white);

}
  body{
    background-color: var(--main-bg-color);
    font-family:var(--font-en);
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  height: 1px;
  background-color: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
  border-radius: 10px;
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}


  .btn-primary{
    background-color: var(--primary-color);
  }
  .btn-primary:hover{
    background-color: rgba(0, 123, 255, 0.812);
  }
  .btn-warning{
    background-color: var(--warning-color);
  }
  .btn-warning:hover{
    background-color: rgba(255, 193, 7, 0.812);
  }
  .btn-success{
    background-color: var(--success-color);
  }
  .btn-success:hover{
    background-color: rgba(40, 167, 70, 0.812);
  }
  .btn-danger{
    background-color: var(--danger-color);
  }
  .btn-danger:hover{
    background-color: #dc3545cf;
  }
  .text-primary{
    color: var(--primary-color);
  }
  .text-primary:hover{
    color: rgba(0, 123, 255, 0.812);
  }
  .text-warning{
    color: var(--warning-color);
  }
  .text-warning:hover{
    color: rgba(255, 193, 7, 0.812);
  }
  .text-success{
    color: var(--success-color);
  }
  .text-success:hover{
    color: rgba(40, 167, 70, 0.812);
  }
  .text-danger{
    color: var(--danger-color);
  }
  .text-danger:hover{
    color: #dc3545cf;
  }

  
.btn{
  border-radius: 10px;
  padding:8px 10px;
  text-align: center;
  color: #fff !important;
  font-size: .8rem;
  font-family: var(--font-en);
  font-weight: 500;
  text-decoration: none;
  transition: .3s;
  margin:5px auto;
  border: none;
  outline: none;
  cursor: pointer;
}
.width-100{
  width: 100%;
}
.width-80{
  width: 80%;
}
.width-50{
  width: 50%;
}
.width-25{
  width: 25%;
}


.right{
  float: right;
}

.left{
  float: left;
}

  .theme-mode {
    position: absolute;
    left:10%;
    top:0;
    margin: 0;
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
    z-index: 222;
  }
  
  .light .theme-mode svg.light{
    display: none;
  }
  .dark .theme-mode svg.dark{
    display: none;
  }

  
  .notification {
    position: absolute;
    left: 7%;
    top:0;
    margin: 0;
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
    z-index: 22;
  }
  .top-nav .notification .dropdown{
    position: absolute;
    top: 0;
    left: 0px;
    display: none;
  }
  .top-nav .notification .dropdown.active{
    display: block;
  }
  .top-nav .notification .dropdown ul{
    list-style: none;
    text-align: center;
    margin-top: 65px;
    width: 400px;
    border: 1px solid var(--main-color);
    overflow: hidden;
    max-height:400px ;
    overflow-y: auto;
    background-color: var(--second-bg-color);
    border-radius: 20px;
    transition: .3s;
  }
  .top-nav .notification .dropdown ul a{
   font-size: 1.1rem;
   text-transform: capitalize;
   text-decoration: none;
   color: var(--main-color);
  }
  .top-nav .notification .dropdown ul a li{
   height: 50px;
   margin: 5px auto;
   line-height: 50px;
   border-radius: 20px;
   width: 95%;
   padding: 10px 20px;
   transition: .3s;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
  }
  .top-nav .notification .dropdown ul a li span{
  max-width: 100%;
  overflow: hidden;
  max-height: 50px;
  margin: 0 10px;
  }
  .top-nav .notification .dropdown ul a li div{
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 50px;
    border-radius: 50%;

  }
  .top-nav .notification .dropdown ul a li div img{
    width: 100%;
    height: 100%;
    display: block;
  }
  .top-nav .notification .dropdown ul li:hover{
    background-color: var(--main-color);
    color: #fff;
  }

  .top-nav{
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    z-index: 29999;
  }

.top-nav .logo{
  line-height: 60px;
  width: 200px;
  padding: 0 30px;
}
.top-nav .logo a{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
}
.top-nav .search{
  position: relative;
  line-height: 60px;
  width: 600px;
}

.top-nav .search input{
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: 1px solid var(--theard-color);  
  border-radius: 20px;
  padding:0 40px;
  font-size: 1em;
}

.top-nav .search .icon{
  font-size: 1.4rem;
  position:absolute;
  top:33%;
  right: 2%;
  color: var(--main-color);
}


.top-nav .user{
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 20px;
  cursor: pointer;
}
.top-nav .user img{
  display: block;
  width: 100%;
  height: 100%;
}

.top-nav .user .dropdown{
  position: absolute;
  top: 0;
  left: 0px;
  display: none;
}

.top-nav .user .dropdown.active{
  display: block;
}
.top-nav .user .dropdown ul{
  list-style: none;
  text-align: center;
  margin-top: 65px;
  margin-left: 20px;
  width: 100%;
  border: 1px solid var(--main-color);
  overflow: hidden;
  max-height:400px ;
  overflow-y: auto;
  background-color: var(--second-bg-color);
  border-radius: 20px;
  transition: .3s;
}
.top-nav .user .dropdown ul a{
 font-size: 1.1rem;
 text-transform: capitalize;
 text-decoration: none;
 color: var(--main-color);
}
.top-nav .user .dropdown ul a li{
 height: 40px;
 margin: 5px auto;
 line-height: 40px;
 border-radius: 20px;
 width: 140px;
 transition: .3s;
}


.top-nav .user .dropdown ul a:last-child{
  color: var(--danger-color);
}

.top-nav .user .dropdown ul li:hover{
  background-color: var(--main-color);
  color: #fff;
}

.top-nav .toggle{
  position: absolute;
  right: 17%;
  width: 40px;
  height: 40px;
}
.top-nav .toggle .toggle-btn{
 font-size: 2.5rem;
 color: var(--main-color);
 cursor: pointer;
 transition: .3s;
}
.top-nav .toggle .toggle-btn:hover{
 color: var(--second-color);
}



.main{
  display: flex;
  width: 100%;
}
.side-nav{
  position: fixed;
  width: 300px;
  height: 100vh;
  margin-top: 60px;
  background-color:var(--second-bg-color);
  transition: .3s;
  overflow: hidden;
  z-index: 9999;
}

.side-nav ul{
  list-style: none;
  width: 300px;
}

.side-nav ul a,
.side-nav ul li{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 20px;
  cursor: pointer;
}

.side-nav ul a svg,
.side-nav ul svg{
  margin-left: 15px;
  font-size: 1.2rem;
}

.side-nav ul a li{
  width:100%;
  overflow: hidden;
  background-color: var(--main-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 12px 20px;
  margin: 20px 0;
  margin-right: 10px;
  transition: .3s; 
}
.side-nav ul li{
  width:100%;
  overflow: hidden;
  background-color: var(--main-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 12px 20px;
  margin: 20px 0;
  margin-right: 10px;
  transition: .3s; 
  user-select: none;
}

.side-nav ul a li:hover,
.side-nav ul li:hover{
  background-color: var(--second-color);
}

.side-nav.active{
  width: 60px;
}


.side-nav ul .dropdown-items{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -10px auto;
  height: 0;
  padding: 0 10px;
  overflow: hidden;
  transition: .3s;
  background-color: var(--main-bg-color);
  z-index: 9999;
  border-radius: 30px;
}
.side-nav ul .dropdown-items a{
  position: relative;
  padding: 5px 10px;
  width: 100%;
  border-radius: 30px;
  margin: 5px 0;
  font-size: .9rem;
  color: var(--main-color);
  transition: .3s;
}

.side-nav ul .dropdown-items a:hover{
  background: var(--main-color);
  color: #fff;
}
.side-nav ul .dropdown-items.active{
  height: 100%;
}
.container{
  position: relative;
  width: 100%;
  margin-top: 60px;
  margin-right: 300px;
  transition: .3s;
  overflow: hidden;
}
.container.active{
  margin-right: 60px;
}

.container h1{
  color: var(--main-color);
  background-color: var(--main-bg-color);
  font-size: 1.2rem;
  padding: 10px 20px;
}

.container .details{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  margin: 20px;
}
.container .details .card{
  background-color: var(--second-bg-color);
  width:100% ;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: .3s;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
}

.container .details .card:hover{
  background-color: var(--main-color);
}
.container .details .card:hover .card-name,
.container .details .card:hover .numbers,
.container .details .card:hover .iconbx {
  color:#fff;
}
.container .details .card div{
 margin: 0 15px;
}
.container .details .card div .card-name{
  font-size: 1.4rem;
  color: var(--main-color);
}
.container .details .card div .numbers{
  font-size: 1.3rem;
  color: #838080;
}

.container .details .card .iconbx {
  font-size: 3rem;
  color: var(--main-color);
  margin:0 20px;
}

.content{
  position: relative;
  padding: 20px;
  margin-top: 70px;
}

.content .recents{
  grid-column: span 2;
  background-color: var(--second-bg-color);
  padding: 15px ;
  border-radius: 20px;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
}
.content .recents span{
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
}
.image-flued{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

/* Form */

.content .form{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  background-color: var(--second-bg-color);
  padding:30px 20px;
  border-radius: 20px;
  margin: 10px auto;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
  text-align: right;
}

.content .form .groups{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
.content .form .input-group{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .form .input-group label{
  font-size: 1rem;
  color: var(--main-color);
  margin-bottom: 10px;
  font-weight: 500;
  text-align: right;
}
.content .form .input-group .form-controll{
  font-size: .8rem;
  text-align: right;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: var(--font-en);
}

.alert-success{
  background-color: #d1e7dd;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  color: #0f5132;
  font-size: .8rem;
  border: 1px solid #badbcc;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);

}
.alert-primery{
  background-color: #cfe2ff;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  color: #084298;
  font-size: .8rem;
  border: 1px solid #b6d4fe;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);

}
.alert-warning{
  background-color: #fff3cd;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  color: #664d03;
  font-size: .8rem;
  border: 1px solid #ffecb5;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);

}
.alert-danger{
  background-color: #f8d7da;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  color: #842029;
  font-size: .8rem;
  border: 1px solid #f5c2c7;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
  
}

/* .btn-submit{
  width: 10px;
  margin: 10px auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  font-weight: 500;
  outline: none;
  transition: .3s;
  cursor: pointer;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
}
.btn-submit:hover{
  background-color: #0985e3c0;
}
 */


/* Models */


.back-model{
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999999;
}

.model .form{
  background: transparent;
  box-shadow: none;
  width: 100%;
}
.model{
  background-color: var(--second-bg-color);
  width: 60%;
  text-align: right;
  padding: 20px;
  display: none;
  border-radius: 20px;
  box-shadow:200px 105rem 1000rem black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99999999999999;
  transition: .3s;
}

.model.active,.back-model.active{
  display: block !important;
}
.model .model-header{
  padding: 10px;
  text-align: right;
  font-size: 1.3rem;
  color: var(--main-color);
  font-weight: 600;
  border-bottom: 1px solid ;
}
.model .model-body{
  padding: 10px;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid var(--main-color);
}
.model .model-footer{
  padding: 10px;
  text-align: center;
}
.model .model-footer button{
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .3s;
}
.model .model-footer button.btn-danger:hover{
  background-color: #dc3546c0;
}
.model .model-footer button.btn-success:hover{
  background-color: #28a745c0;
}


/* Responsive  */

@media (max-width:991px){

  .side-nav{
    width: 60px;
  }
  .container{
    margin-right: 60px;
  }
  .side-nav.active{
    width: 300px;
  }
  .container.active{
    margin-right: 60px;
  }

  .container .details{
    grid-template-columns: repeat(2,1fr);
  }

  .top-nav .toggle{
    right: 20%;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .top-nav .toggle .toggle-btn{
   font-size: 2.1rem;
  }
  .top-nav .search{
    line-height: 50px;
    width: 450px;
  }
  .top-nav .search .icon{
    font-size: 1.1rem;
    right: 3%;
  }

.top-nav .logo{
  width: 200px;
  padding: 0 20px;
}
.top-nav .logo a{
  font-size: 1.4em;
}

.top-nav .user{
  width: 45px;
  height: 45px;

}

.theme-mode {
  left:10%;
  font-size: 24px;
}

.content .form{
  width: 100%;
}
}


@media (max-width:768px){

  .side-nav{
    width: 60px;
    justify-content:baseline;
  }
  .container{
    margin-left: 60px;
    
  }

  .side-nav.active{
    width: 300px;
  }
  .container.active{
    margin-left: 60px;
  }
  .container .details{
    grid-template-columns: repeat(2,1fr);
  }
  .top-nav .toggle{
    left: 22%;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .top-nav .toggle .toggle-btn{
   font-size: 2.1rem;
  }
  .top-nav .search{
    line-height: 50px;
    width: 350px;
  }
  .top-nav .search input{
    line-height: 30px;
  }
  .top-nav .search .icon{
    font-size: 1.1rem;
    left: 3%;
  }

.top-nav .logo{
  width: 200px;
  padding: 0 20px;
}
.top-nav .logo a{
  font-size: 1.4em;
}

.top-nav .user{
  width: 45px;
  height: 45px;

}

.theme-mode {
  right:2%;
  font-size: 22px;
}

.content .form{
  width: 80%;
}
}

@media (max-width:480px){

  .top-nav{
    width: 100%;
  }
  .side-nav{
    width: 0;
  }
  .container{
    margin-right: 0;
  }
  
  .side-nav.active{
    width: 300px;
  }
  .container.active{
    margin-right: 60px;
  }
  .container .details{
    grid-template-columns: repeat(1,1fr);
  }
  .top-nav .toggle{
    right: 24%;
  }
  .top-nav .toggle .toggle-btn{
   font-size: 1.5rem;
  }  
  .top-nav .search{
    line-height: 50px;
    width: 180px;
  }
  .top-nav .search input{
    line-height: 30px;
    font-size: .8rem;
  }
  .top-nav .search .icon{
    font-size: 1.1rem;
    right: 5%;
  }

.top-nav .logo{
  width: 100px;
  padding: 0 7px;
}
.top-nav .logo a{
  font-size: 1em;
}

.top-nav .user{
  width: 45px;
  height: 45px;

}

.theme-mode {
  right:75%;
  font-size: 22px;
}

.content .recents span{
  font-size: 1.5rem;
}
.content .recents{
  overflow-x: auto;
}
.content .form{
  width: 100%;
}

}





/* login page */

.login_content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: var(--second-bg-color);
padding: 20px;
width: 350px;
height: 450px;
border-radius: 20px;
box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
display: flex;
justify-content: center;

}
.login_content form{
position: relative;
width: 100%;
text-align: center;
}
.login_content form .img-login{
width: 100%;
text-align: center;
}
.login_content form .img-login img{
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
}
.login_content form span{
width: 100%;
margin: 10px 0;
font-size: 1.4rem;
color: var(--main-color);

}
.login_content form .input-group{
width: 100%;
margin: 10px 0;
text-align: right;
}
.login_content form .input-group label{
width: 100%;
margin-right: 10px;
font-size: 1rem;
font-family: var(--font-en);
color: var(--main-color);
}
.login_content form .input-group input{
width: 100%;
border-radius: 10px;
padding: 10px 20px;
margin-top: 10px;
border: none;
outline: none;
text-align: right;
font-family: var(--font-en);
}

